* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
}

body {
	font-family:Arial, Helvetica, serif;
}

h1{
	text-align: center;
	margin: 15px;
}

section {
 background-color: gray;
 border: 3px solid black; 		
}

#s1, #s2, #s3 {
	margin: 0px 10px 10px 10px;
}

p {
	clear:both;
	color:black;
	padding: 6px;
}

p.title {
	width:100px;
/*	font-family:Arial, Helvetica, serif;*/
	font-weight:bold;
	text-align:center; 
	border: 3px solid black; 
	border-top: 0px;
	border-right: 0px; 
	color:black;
	padding: 2px 10px 1px 10px;
	margin:0;
	float:right;
}

#t1 {
	background-color: red;
}
#t2 {
	background-color: white;
}
#t3 {
	background-color: blue;
}

@media (min-width: 992px){

	.col-lg-4{
		width: 33.33%;
		float: left;
	}
	.col-lg-4 #s1{margin-right: 3.33px}
	.col-lg-4 #s2{margin-left: 6.57px;margin-right: 6.67px}
	.col-lg-4 #s3{margin-left: 3.33px;}
}

@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12{
		float: left;
	}
	.col-md-6{
		width: 50%;
	}

	.col-md-6 #s1{margin-right: 5px;}
	.col-md-6 #s2{margin-left: 5px;}

	.col-md-12{
		width: 100%;
	}
}


